<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-padding">
    <h1>Crear Cuenta</h1>
    <p>Únete a Gastos App</p>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-item class="app-input">
      <ion-label position="floating">Email</ion-label>
      <ion-input
        type="email"
        formControlName="email"
        required
      ></ion-input>
    </ion-item>

    <ion-item class="app-input">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input
        type="password"
        formControlName="password"
        required
      ></ion-input>
    </ion-item>

    <ion-item class="app-input">
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input
        type="password"
        formControlName="confirmPassword"
        required
      ></ion-input>
    </ion-item>

    <ion-button
      expand="block"
      type="submit"
      [disabled]="!registerForm.valid || isLoading"
    >
      Registrarse
    </ion-button>

    <div class="ion-text-center ion-padding">
      <p>
        ¿Ya tienes una cuenta?
        <a routerLink="/login">Inicia sesión</a>
      </p>
    </div>
  </form>
</ion-content>
